a:link{
  color:red;
}
a:visited{
  color:green;
}
a:hover{
  color:hotpink;
  text-decoration:underline;
  background-color:yellow;
}
a:active{
  color: blue;
}
*{
  box-sizing: border-box;
}
h1::before {
  content: url(https://media1.tenor.com/images/aaf7f2bb862a0004acad5bff2b08d927/tenor.gif?itemid=10721555);
}
.box {
  float: left;
  width: 33%;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#navbar{
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 60px;
}
li {
  display:inline;
}